<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-template [ngIf]="detail">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>จำนวน {{ detail?.amount | number }}</p>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ion-button size="medium" [href]="'/tabs/(contact:contact)'">Back</ion-button>

</ion-content>
